HOST=0.0.0.0
PORT=1337
APP_KEYS=crediexpress-key1,crediexpress-key2,crediexpress-key3,crediexpress-key4
API_TOKEN_SALT=crediexpress-api-token-salt
ADMIN_JWT_SECRET=crediexpress-admin-jwt-secret
TRANSFER_TOKEN_SALT=crediexpress-transfer-token-salt
ENCRYPTION_KEY=crediexpress-encryption-key
